<nav class="navbar">
    <div class="container">
        <a class="logo">Fakestore.</a>
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" routerLink='/index'>Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink='/addproduct'>Product</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink='/users'>Users</a>
            </li>
            <li class="nav-item">
                <button (click)="logout()">Logout</button>
            </li>
        </ul>
    </div>
</nav>

