<section class="section">
    <div class="container">
        <h2 class="section-title">Products</h2>
    </div>
    <div class="product-container">
        <div class="product-list">
            <form>
                <div>
                    <input id="search" type="text" placeholder="Search..."/> 
                </div>
                <div style="margin-left:630px;">
                    <a>Fliter by Category:</a>
                    <select id="category" formControlName="category" class="select-box">
                        <option value="" disabled selected>Select Category</option>
                        <option value="jewelery">Jewelery</option>
                        <option value="elelctronics">Electronics</option>
                        <option value="men's clothing">Men's Clothing</option>
                        <option value="women's clothing">Women's Clothing</option>
                    </select>
                </div>
            </form>
    
            <div class="product-card" *ngFor="let product of products" (click)="goToProductDetails(product)">
                <div>
                    <img [src]="product.image"/>
                </div>
                <h5>{{product.title}}</h5>
                <h6>{{product.rating.rate}}</h6>
                <h6>{{product.price | currency}}</h6>
            </div>
        </div>
    </div>
</section>
