h2, h5, h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    text-align: center;
    font-family: "Baloo Paaji", cursive; 
    font-weight: 500;
    line-height: 1.2;
    color: #695aa6;
}
  
h2{
    font-size: 30px;
}
    
h5{
    font-size: 14px;
}
  
h6{
    font-size: 14px;
}

.section{
    padding: 70px 15px;
}

.section-title{
    margin-bottom:6px ;
    font-weight: 400;
    opacity: .6;
}

.product-container{
    display: flex;
    height: auto;
}

.product-list{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding: 26px;
    align-content: center;
    justify-content: center;
}

.product-card{
    border: 1px solid #ddd;
    background-color: #f3f2ee;
    height: auto;
    width: 250px;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
    cursor: pointer;
}

.product-card img{
    width: 200px;
    height: 150px;
    object-fit: contain;
}

.product-card:hover{
    background-color: #fff;
}

.select-box{
    height: 30px;
    width: 200px;
    border: 1.5px solid #ddd;
    margin: 5px 0 10px;
    border-radius: 5px;
}

.right{
    margin-left:520px;
}

.left{
    margin-left: 20px;
}

button{
    width: 65px;
    height: 35px;
    margin-left: 5px;
    border-radius: 5px;
    border: 1.5px solid #ddd;
    color: #fff;
    background-color: #BA55D3;
    cursor: pointer;
}

button:hover{
    background-color: #DA70D6;
}

form{
    display: flex;
    margin: 5px;
    padding: 5px 5px;
}

input{
    height: 30px;
    width: 220px;
    border-radius: 5px;
    border: 1.5px solid #ddd;
}

input:focus{
    color: #495057;
    background-color: rgba(0, 0, 0, 0.01);
    border-color: #b4add3;
    outline: 0;
    box-shadow: 0 0 0 0.1rem rgba(105, 90, 166, 0.25);
}

mat-paginator{
    background-color:  #695aa6;
    color: #fff;
    width: 1180px;
    margin-left: 75px;
}

@media screen and (max-width: 1024px) and (min-width: 769px){

    .product-card{
        width: 120px;
    }

    .product-card img{
        width: 120px;
        height: 120px;
    }

    mat-paginator{
        width: 50px;
    }

}


/* Small Device = 320px */

@media only screen and (max-width: 479px){

    .product-card{
        width: 100px;
    }

    .product-card img{
        width: 50px;
        height: 50px;
    }

    mat-paginator{
        width: 320px;
        font-size: 10px;
        margin-left: 30px;
    }

    .right{
        margin-left: 70px;
    }

    .left{
        margin-left: 5px;
    }

    input{
        width: 50px;
        height: 15px;
    }

    button{
        font-size: 10px;
        height: 20px
    }

    .select-box{
        width: 100px;
        height: 20px;
        font-size: 8px;
    }

    a{
        font-size: 10px;
    }

    h2{
        font-size: 15px;
    }

    h5,h6{
        font-size: 8px;
    }

    .section{
        padding: 90px 0;
    }


}



