<section class="section">
    <div class="container">
        <h2 class="section-title">Products</h2>
    </div>
    <div class="product-container">
        <div class="product-list">
            <form>
                <div>
                    <input id="search" type="text" placeholder="Search.." class="left"/>  
                </div>
                <div>
                    <button>Search</button>
                </div>
                <div class="right">
                    <a>Fliter by Category:</a>
                    <select id="category" [(ngModel)]="category" (ngModelChange)="fliterCategory($event)"  [ngModelOptions]="{standalone: true}" class="select-box">
                        <option value="" disabled selected>Select Category</option>
                        <option value="all categories">All Categories</option>
                        <option value="jewelery">Jewelery</option>
                        <option value="electronics">Electronics</option>
                        <option value="men's clothing">Men's Clothing</option>
                        <option value="women's clothing">Women's Clothing</option>
                    </select>
                </div>
            </form>
    
            <div class="product-card" *ngFor="let product of (products | slice: lowIndex : highIndex)" (click)="goToProductDetails(product)">
                <div>
                    <img [src]="product.image"/>
                </div>
                <h5>{{product.title}}</h5>
                <h6>{{product.rating.rate}}</h6>
                <h6>{{product.price | currency}}</h6>
            </div>
        </div>
    </div>
    <mat-paginator [length]= items [pageSize]="8" [showFirstLastButtons]="true" [pageIndex]="currentpage" [pageSizeOptions]="[8, 12, 16, 20]" (page)="handlePagenator($event)" aria-label="Select page">
    </mat-paginator>
</section>

