<div class="container">
    <h2>Product Details</h2>
    <div *ngIf="product" class="product-detail">
        <h4>{{product.title}}</h4>
        <div style="display: flex;">
            <img [src]="product.image"/>
            <div style="margin: 10px;">
                <p class="product-item"><strong>Category:</strong>{{product.category}}</p>
                <p class="product-item"><strong>Price:</strong>{{product.price | currency}}</p>
                <p class="product-item"><strong>Rate:</strong>{{product.rating.rate}}</p>
                <p class="product-item"><strong>Count:</strong>{{product.rating.count}}</p>
            </div>
        </div>
        <p><strong>Product Description: </strong><span>{{product.description}}</span></p>
        <button (click)="editProduct()">Edit</button>
        <button (click)="removeProduct()">Remove</button>
        <div>
            <input *ngIf="showSuccessMessage" type="text" class="alert-success" placeholder="Product Removed Successfully."/>
        </div>
        <div>
            <input *ngIf="showFailedMessage" type="text" class="alert-danger" placeholder="Product Failed To be Removed."/>
        </div>
    </div>
</div>

