<section class="section">
    <div class="container">
        <h2 class="section-title">Edit Product</h2>
    </div>
    <div class="form-container"  *ngIf="product">
        <form class="form-control">

            <div>
                <label>Product Title:</label>
                <input id="title" [(ngModel)]="title" (ngModelChange)="updatetitle($event)" type="text" [ngModelOptions]="{standalone: true}" required/>
            </div>
    
            <div>
                <label>Product Category:</label>
                <select id="category" [(ngModel)]="category" (ngModelChange)="updateCategory($event)" class="select-box" [ngModelOptions]="{standalone: true}" required>
                    <option value="jewelery">Jewelery</option>
                    <option value="electronics">Electronics</option>
                    <option value="men's clothing">Men's Clothing</option>
                    <option value="women's clothing">Women's Clothing</option>
                </select>
            </div>
    
            <div>
                <label>Product Price:</label>
                <input id="price" [(ngModel)]="price" (ngModelChange)="updatePrice($event)" type="text" [ngModelOptions]="{standalone: true}" required/>
            </div>
    
            <div>
                <label>Product Image:</label>
                <input id="image" [(ngModel)]="image" (ngModelChange)="updateImage($event)" required [ngModelOptions]="{standalone: true}" type="text"/>
            </div>
    
            <div>
                <label>Product Description:</label>
                <textarea id="description" [(ngModel)]="description" (ngModelChange)="updateDescription($event)" [ngModelOptions]="{standalone: true}" required></textarea>
            </div>
            <button (click)="editProduct()" class="btn-primary">Edit Product</button>
            <div>
                <input *ngIf="showSuccessMassage" class="alert-success" placeholder="Product Information Updated Successfuly" type="text"/>
            </div>
            <div>
                <input *ngIf="showErrorMessage" class="alert-danger" placeholder="Product Update Failed" type="text"/>
            </div>
        </form>
      
    </div>
</section>

