h2 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    text-align: center;
    font-family: "Baloo Paaji", cursive; 
    font-weight: 500;
    line-height: 1.2;
    color: #695aa6;
    font-size: 30px;
}

.section{
    padding: 70px 10px;
}

.section-title{
    margin-bottom:6px ;
    font-weight: 400;
    opacity: .6;
}

.user-container{
    display: flex;
    overflow-y: auto;
}

.content-table{
    border-collapse: collapse;
    margin: 30px 0;
    font-size: 0.9em;
    min-width: 900px;
    border-radius: 7px 7px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    margin-left: 250px;
}

.content-table thead tr{
    background-color:  #BA55D3;
    color: #fff;
    text-align: left;
    font-weight: bold;
}

.content-table th,
.content-table td {
    padding: 12px 15px;
}

.content-table tbody tr{
    border-bottom: 1px solid;
}

.content-table tbody td{
    text-align: left;
}

.content-table tbody tr:nth-of-type(even){
    background-color:  #F5F5F5;
}

button{
    width: 55px;
    height: 25px;
    background-color: #BA55D3;
    color: #fff;
    border-radius: 5px;
    border: none;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    font-size: 15px;
}

button:hover{
    background-color: #DA70D6;
}

mat-paginator{
    background-color:  #695aa6;
    color: #fff;
    width: 1180px;
    margin-left: 75px;
}

@media  screen and (max-width: 1024px) {

    h2{
        font-size: 20px;
    }

    .content-table{
        margin-left: 30px;
        max-width: 700px;
    }

    mat-paginator{
        width: 920px;
        margin-left: 20px;
    }
    
}